@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Content/js/libs/html5shiv.js")"></script>
      <script src="@Url.Content("~/Content/js/libs/respond.min.js")"></script>
    <![endif]-->
    <title>principal</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="@Url.Content("~/")">Control Actividades</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
            @RenderBody()
    </div>
    <!-- /.container -->
    <script src="@Url.Content("~/Content/js/libs/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/bootstrap.min.js")"></script>
    @RenderSection("templates", false)
    @RenderSection("Header", false)
</body>
</html>
